@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.root {
  @include full-size;
  background: #ffffff;
  overflow-y: auto;
}

.list {
  display: block;
}

.noCalls {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  line-height: 180px;
}

.listTitle {
  @include secondary-font;
  line-height: 16px;
  font-weight: bold;
  color: #2f2f2f;
  padding: 14px 20px 0 20px;
}

.confirmMergeModal {
  min-width: 260px;

  .contentText {
    margin-top: 5px;
  }
  .cancelBtn {
    width: 70px;
    height: 28px;
  }
  .confirmBtn {
    width: 70px;
    height: 28px;
    margin-left: 10px;
  }
}
.button {
  display: block;
  float: left;
}
.button:not(:last-child) {
  margin-right: 18px;
}
.closeBtn {
  margin-top: 10px;
  margin-right: 11px;
  text-align: right;
}