@import '../../lib/commonStyles/full-size';
@import '../../lib/commonStyles/colors';
@import '../../lib/commonStyles/fonts';

.root {
  @include full-size;
  background: #ffffff;
  overflow-y: auto;
}

.spinner {
  z-index: 1;
}

.noCalls {
  color: $darkgray;
  font-size: 14px;
  text-align: center;
  line-height: 180px;
}

.confirmMergeModal {
  min-width: 260px;

  .contentText {
    margin-top: 5px;
  }
  .cancelBtn {
    width: 70px;
    height: 28px;
  }
  .confirmBtn {
    width: 70px;
    height: 28px;
    margin-left: 10px;
  }
  .closeBtn {
    margin-top: 10px;
    margin-right: 11px;
    text-align: right;
  }
}
