$box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.15);;
$transition-duration: .2s;
$background-color:#fff;

.dropdown-container{
  transition: transform ease-in-out $transition-duration,opacity ease-in-out $transition-duration;
  transform: scale(0);
  transform-origin: center bottom;
  opacity:0;
  position:relative;
}

.top,
.bottom{
  .tail{
    z-index:2;
    position: absolute;
    display:inline-block;
    width:10px;
    height:10px;
    transform: rotateZ(45deg);
    background: $background-color;
    box-shadow:$box-shadow;
    margin: auto;
    left:0;
    right:0;
  }
}

.top{
  .tail{
    bottom: -4.5px;
  }
}

.bottom{
  .tail{
    top: -4.5px;
    box-shadow:none;
  }
}

.dropdown{
  text-align:center;
  background: $background-color;
  position:relative;
  z-index:1;
  box-shadow: $box-shadow;
  padding:5px;
}

.opened{ 
  transform: scale(1);
  opacity:1;
}
